
<div class="d-flex">
    <input class="form-control me-2" list="productlist"
           id="item" placeholder="Type a product">
    <button class="btn btn-outline-success me-2" type="submit">
        Add
    </button>
    <datalist id="productlist">
        <% for(let result of results) {%>
        <option value="<%=result.item%> => <%=result.price%>">
        <%}%>    
    </datalist>
</div>

    

 

