
<nav class="nav flex-column mt-3">
    <a class="nav-link active"href="/reports/cashReports">
        Cash Reports
    </a>
    <a class="nav-link active" href="#">
        Daily Sales
    </a>
</nav>