
<nav class="nav flex-column mt-3">
    <a class="nav-link active"href="#">
        Create Customers
    </a>
    <a class="nav-link active" href="#">
        Purchase on credit
    </a>
    <a class="btn btn-success" href="#">
        Purchase
    </a>
</nav>