
<p>INV<%=invoiceId%></p>
<p ></p> 
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" >Item</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>

  <form action="/" method="POST">
    <tbody>
      <% for(let i = 0; i < 8; i++) { %> 
      <tr>
        <td>
            <input class="form-control" type="text" name="item" id="item" readonly>
        </td>
        <td>
            <input class="form-control" type="number" name="price" id="price" readonly>
        </td>
        <td>
            <input class="form-control" type="number" name="quantity" id="quantity">
        </td>
        <td>
            <input class="form-control" type="number" name="amount" id="amount" readonly>
        </td>
      </tr>
      <% } %> 
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>
              <input type="number" name="invoiceId" id="invoiceId"
                     value=<%=invoiceId%> hidden>
            </td>
            <td>Total:</td>
            <td>
                <input class="form-control" type="number" name="total" id="total" readonly>
            </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Amount Paid:</td>
          <td>
              <input class="form-control" type="number" name="amount_paid" id="amount_paid" required>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Balance Due:</td>
          <td>
              <input class="form-control" type="number" name="balance_due" id="balance_due" readonly>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Purchase">
          </td>
          <td></td>
          <td></td>
        </tr>
    </tfoot>
  </form>
  </table>
  