<% layout('layouts/template') %>
<section class="section-home">
    <div class="d-flex justify-content-center mt-3">
        <div class="container">
            <%- include('../partials/home/sidebar') %> 
        </div>
        <div class="container mbe-2">
            <%- include('../partials/home/table') %> 
        </div>
        <div class="container">
            <%- include('../partials/home/search') %> 
        </div>
    </div>
</section>